.nav-container {
  background-color: var(--gray-color);
  position: sticky;
  top: 0;
  padding: 13px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.nav-container .logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-container .logo-text .menu-icon{
    color: #fff;
    margin-right: 27px;
    margin-left: 12px;
}
.nav-container .logo-text .logo{
  max-width: 27px;
  max-height: 27px;
}
.nav-container .logo-text .text{
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: -1px;
  font-weight: 400;
  margin-left: 2px;
}
.nav-container .logo-text .logo:hover,
.nav-container .logo-text .text:hover,
.nav-container .logo-text .menu-icon{
  cursor: pointer;
}
.nav-container .input-section{
  display: flex;
}
.nav-container .input-section input{
  padding: 8px;
  background-color: var(--black-color);
  border: 1px solid var(--border-color);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 375px;
}
.nav-container .input-section .btn{
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  background-color: var(--border-color);
}