.nav-container {
  background-color: var(--gray-color);
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex; 
  align-items: center;
}
.nav-container .logo-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container .logo-text .logo{
  max-width: 29px;
  max-height: 29px;
}
.nav-container .logo-text .text{
  color: #fff;
  font-size: 1.5rem;
}